h1, h2, h3, p, a, ul, li, tr, th {
	font-family: Segoe UI;
}

p {
	font-size: 14px;
}

h1, h2, h3 { 
	line-height: 50%;
}

#floating a {
	font-size: 18px;
}

.centered { 
	text-align: center;
}

.centeredBlock {
	display: block;
}

.large {
	font-size: 20px;
}

body {
	z-index: 0;
	background: whitesmoke;
}

footer {
	margin: 0% 0% 0% 24%;
	font-size: 10pt;
	color: darkgrey;
}

footer a {
	text-decoration: none; !important
}

#container {
	display: inline-block;
	width: 100%;
}

#floating { 
	z-index: 1;
	border: 1px solid #000;
	width: 90%;
	padding: 0% 1% 0% 1%;
	background: rgb(255,176,0)
}

#mainName { 
	font-size: 36px;
}

#links { 
	font-size: 18px;
}

#text { 
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}