h1, h2, h3, p, a, ul, li, tr, th {
	font-family: Segoe UI;
}

p {
	font-size: 14px;
}

h1, h2, h3 { 
	line-height: 50%;
}

body {
	z-index: 0;
	background: whitesmoke;
}

body ::selection {
	background-color: deepskyblue;
}

table {
	table-layout: fixed;
}

.centered { 
	text-align: center;
}

.large {
	font-size: 20px;
}

#container {
	display: inline-block;
	width: 100%;
}

footer {
	margin: 0% 0% 0% 46%;
	font-size: 10pt;
	color: darkgrey;
}

footer a {
	text-decoration: none;
}

#floating { 
	z-index: 1;
	border: 1px solid #000;
	margin: 2% 0% 0% 18%;
	width: 60%;
	padding: 0% 3% 0% 3%;
	background: rgb(255,176,0)
}

#mainName { 
	font-size: 48px;
}

#links {
	font-size: 16px;
}

#text { 
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}